<section class="contact">
    <p>
        Napisz kiedy możemy na ciebie liczyć!
    </p>
    <form name="contact" method="POST" netlify>
        <p>
            <input type="text" name="name" placeholder="email" value="Cześć! Mogę dołączyć w piątek o 12!"/>
        </p>
        <p>
            <textarea name="message" placeholder="wiadomość"></textarea>
        </p>
        <p>
        <div data-netlify-recaptcha></div>
        <button type=”submit”>wyślij</button>
        </p>
    </form>
</section>