<script type="text/javascript">
    function toggle(id) {
      var x = document.getElementById(id);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>

<button class="btn" onclick="toggle('{{ .Get 0 }}')" style="list-style:none; line-height: 1.5rem; text-align: center; font-weight: 700; font-size: 1rem; padding: 0.5rem">
{{ .Get 0 }}
</button>
<div id="{{ .Get 0 }}" style="display: none">
{{ .Inner }}
</div>